
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

body{
    padding: 0;
    margin: 0;
}
.main
{
    display: flex;
    /* justify-content:; */
    width: 100%;
    
}
h5
{
    display: block;
    font-size: 4.5em;
    margin-block-start: 3.83em;
    margin-block-end: 0.83em;
    margin-inline-start: -262px;
    margin-inline-end: 0px;
    font-weight: 100;
    color: #D292FF;
    /* font-family: 'Playpen Sans', cursive; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Varela Round', sans-serif;
}

.logo_side
{
    display: flex;
    justify-content: center;
    background-color:#00002E;
    width: 60%;
    height: 100vh;
    padding:0px 15px;

}
.logo_side img{
    width: 280px;
    height: 70px;
}
.login_side
{
    display: flex;
    justify-content: space-around;
    background-color: black;
    width:40%;
    height: 100vh;
    padding: 0px 15px;


}
.login
{
    display: flex;
    justify-content: right;
    margin: 330px 0px;
}
.signup
{
    display: flex;
    justify-content: right;
    margin: 330px 0px;
}
.modal
{
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    padding-top: 60px;
    color: black;
    border-radius: 15px;
    
}
.modal-content
{
    display:block;
    background-color:#ffa599;
    background-image:
    radial-gradient(at 78% 53%, hsla(320,62%,62%,1) 0px, transparent 50%),
    radial-gradient(at 4% 4%, hsla(320,82%,66%,1) 0px, transparent 50%),
    radial-gradient(at 62% 12%, hsla(94,80%,74%,1) 0px, transparent 50%),
    radial-gradient(at 9% 55%, hsla(239,82%,71%,1) 0px, transparent 50%),
    radial-gradient(at 92% 40%, hsla(155,75%,74%,1) 0px, transparent 50%),
    radial-gradient(at 78% 84%, hsla(17,86%,78%,1) 0px, transparent 50%),
    radial-gradient(at 1% 39%, hsla(108,90%,76%,1) 0px, transparent 50%);
    /* background-color:white; */
    margin: 40px auto;
    border: 1px solid #888;
    width: 450px;
    justify-content:space-evenly;
    align-items:center;
    
}
.close
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    width: 450px;
    margin: 95px;
}
.close:hover, .close:focus
{
    color: red;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.imgcontainer img
{
    border-radius: 25px 25px;
    height: 100x;
    width: 100px;
}
.imgcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    padding: 0.01em 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin: 8px 0px;

}
.logbut
{
    background-color: chartreuse;
    margin: 10px 174px;
    border-radius: 3px;
}
.cancelbtn{
    display: flex;
    justify-content: left;
    background-color: red;
    width: auto;
    border-radius: 3px;
    color: white;
    align-items: center;
}
.psw
{
    display: flex;
    justify-content: right;
    
}
.container1{
    display: flex;
    justify-content: space-between;
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 5px;
}

.psw a{
    text-decoration: none;
    color: black;
}
.psw:hover
{
    text-decoration:underline;
}

.container input
{
    border-radius: 3px;
    border-color:black ;
}
.start
{
    background-color: #007BFF;
    border: none;
    outline: none;
    color: white;
    font-size: 26px;
    border-radius: 0px 16px;
    padding: 0px 23px;
}
.start:hover
{
    background-color: #0056b3;;
}
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
    margin:0px 0px 8px 0px;
}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    /* appearance: auto; */
    box-sizing: border-box;
    margin: 0px 0px 0px 2px;
    padding: initial;
    border: initial;
}
@media screen and (max-width: 992px) {
    .nav-main {
        width: 100%;
        background-color: #414a4c;
    }
}
input[type="password" i] {
    /* -webkit-text-security: disc !important; */
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
    margin:0px 0px 8px 0px;
}
